.container {
    max-width: 960px;
}

.nav-products {
    background-color: #C7C7C7;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 20px 0;
}

.prod-nav-link {
    color: black;
    text-decoration: none;
}
