.nav {
    background-color: blue
}

.nav-container {
    max-width: 960px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link-active {
    font-weight: 700;
}

.icon {
    color: white;
}